@mixin col($col, $sum){
  width: percentage($col/$sum);
}

@mixin position ($display, $margin){
  display: $display;
  margin: $margin;
}
@mixin padding ($padd_ver, $padd_hor){
  padding: $padd_ver $padd_hor;
}